# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
mongodb+srv://bs5245423_db_user:al-EcvsJH0-f0fEI1Yukolgr3jO8oZVl2u5gG1F1v9PpZJ@cluster0.ugchckp.mongodb.net/?appName=Cluster0